.body{
    margin: 0;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url("../image/background2.jpg") ;
    background-size: cover;
    backgound-repeat:repeat-x;
    overflow-x:hidden;
    position:absolute;

}
.boy{
    height:180px;
/*230*/
    margin-top: 357px;
    /*300*/
    position: absolute;
}
.box{
    width :200px;
    /*400*/
    height:200px;
    /*300*/

    position: absolute;
    margin-top: 413px;
    /*315*/
    background-image: url("../image/ttt.gif");
    background-size:contain;
    background-repeat: no-repeat;
}

.score{
    font-size: 40px;
    font-weight:bold;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}
.endBox{
    width:100%;
    height: 100vh;
    position:absolute;
    background-image: linear-gradient(90deg,#842029 0%,black 100%);
    font-size: 80px;
    font-family: Broadway;
    font-weight: bold;
    color: white;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility:hidden;

}
.gamebtn{
    width:300px;
    height: 35px;
    background-color: red;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-weight: 1000;
    margin-top: 50px;

}
.gamebtn:hover{
    width:305px;
    height: 37px;
    background-color: green;
    cursor:pointer;
    color: black;
}
/*.gameOverText{*/
/*    width:500px;*/
/*    margin-top: -200px;*/
/*    position: absolute;*/
/*    margin-left: -255px;*/

/*}*/
/*.startBox{*/
/*    position:absolute;*/
/*    height: 680px;*/
/*    width: 100%;*/
/*    margin-top: -680px;*/
/*    background-image: url("../image/background.jpg");*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/
/*!*.idleBoy{*!*/
/*!*    width:350px;*!*/
/*!*    margin-top: 150px;*!*/
/*!*    margin-left: -30px;*!*/
/*!*}*!*/

/*.startTextBox{*/
/*    position:absolute;*/
/*    margin-top: 450px;*/
/*    color:chocolate;*/
/*    font-size: 40px;*/
/*    font-family: Arial;*/
/*    font-weight: bold;*/
/*    margin-left: 30px;*/
/*}*/