.body{
    margin: 0;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url("../image/background2.jpg") ;
    background-size: cover;
    backgound-repeat:repeat-x;
    overflow-x:hidden;
    position:absolute;

}
.boy{
    height:230px;
    margin-top: 300px;
    position: absolute;
}
.box{
    width :400px;
    height:300px;

    position: absolute;
    margin-top: 315px;
    background-image: url("../image/ttt.gif");
    background-size:contain;
    background-repeat: no-repeat;
}